#samplebox {
    width: 900px;
    height: 100vh;
    padding: 5px;
}
.sample {
    position: relative;
    width: 100px;
    height: 110px;
    background: powderblue;
    border: 2px solid black;
    text-align: center;
    display: flex;
    margin: 5px;
}
.sample:hover {
    border: 3px solid red;
}
.sample-img {
    width: 100px;
    height: 95px;
}
.div-button-close {
    width: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.button-close {
    background: url('./images/iconclose.png') no-repeat;
    background-size: 20px 20px;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;   
}
.sample-tooltip {
    position: absolute;
    background-color: rgb(238, 238, 238);
    width: 200px;
    height: 130px;
    border: 1px solid black;
    left: 130px;
}