#samplebox {
    width: 800px;
    height: 100vh;
    display: flex;
    justify-content: row;
    padding: 5px;
}
.sample {
    width: 200px;
    height: 100px;
    background: powderblue;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: row;;
}
.sample-img {
    width: 100px;
    height: 95px;
}