#samplebox {
    width: 900px;
    height: 100vh;
    /* display: flex;
    justify-content: row; */
    padding: 5px;
}
.sample {
    width: 250px;
    height: 110px;
    background: powderblue;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: row;
    margin: 5px;
}
.sample-img {
    width: 100px;
    height: 95px;
}