#statsetter {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid gray
}
#column-label div, #column-basestat div {
    height: 30px;
    width: 50px;
    text-align: right;
    margin-right: 10px;
}
#column-evs div {
    height: 30px;
    margin-right: 10px;
    text-align: right;
}
#column-evs div input {
    width: 40px;
    text-align: right;
}
#column-slider div {
    width: 190px;
    height:30px;
    margin-right: 10px;
}
#column-slider div input {
    width: 190px;
    background: 0 0;
}
#column-ivs div {
    height: 30px;
    width: 50px;
    margin-right: 10px;
    text-align: right;
}
#column-ivs div input {
    width: 40px;
    text-align: right;
}
#column-rvs div {
    width: 50px;
    text-align: right;
    height: 30px;
}
#column-rvs div label{
    font-weight: bold;
}