.box-group-detail {
  margin: 5px;
  width: 800px;
}
.box-group-detail-gridbox {
  margin: 5px;
  width: 600px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nature-stat-high {
  color: red;
}
.nature-stat-low {
  color: blue;
}
.box-group-detail-sprite {
  align-items: center;
}
